@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

.frame {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 200px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	overflow: hidden;
	font-family:'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.button {
	position: absolute;
	z-index: 1;
	width: 125px;
	height: 0px;
	top: 140px;
	left: 70px;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	transition: all .3s ease-in-out;
	cursor: pointer;
  
	&:before {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		content: '';
		display: block;
		width: 120px;
		height: 20px;
		background: #fff;
		transform: translate(0, 0);
		transition: all .3s ease-in-out;
		box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1);
  }

	&:after {
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		content: '';
		display: block;
		width: 120px;
		height: 20px;
		background: RGB(86, 13, 100);
		transform: translate(13px, 12px);
		transition: all .3s ease-in-out;
		box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
  }

	&:hover {
		transform: translate(7px, 12px);
		color: #fff;
    
		&:before {
			background: RGB(86, 13, 100);
			box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
		}

		&:after {
			transform: translate(-15px, -10px);
			background: #fff;
		}
	}
}

* {
  margin: 0px;
  padding: 0px;
}

#Contanier {
  margin-top: -350px;
  width: 80%;
  left: 40px;
  margin-left: 100px;
}

hr {
  border: none;
  height: 1px;
  background-color: RGB(46, 47, 47);
  margin: 5px 0;
}

.Clearfix {
  clear: both;
}

.ImagenRecortada {
  display: block;
  margin-top: -250px;
  /*clip-path: polygon(0 38%, 100% 38%, 100% 67%, 0 67%);*/
  clip-path: polygon(0 38%, 100% 38%, 100% 55%, 0 55%);
}

#Inicio{
  .MiniLogo {
    position: relative;
    top: 38px;
  }

  .titulopagina {
    cursor: default;
    left: 50px;
    margin-left: 50px;
  }

  .Descripcion {
    cursor: default;
  }

  .Tema {
    cursor: default;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid RGB(46, 47, 47);
  }
}

#Barralateral {
  float: left;
  width: 30%;

  h2{
    font-size: 24px;
    cursor: default;
  }

  hr {
    width: 300px;
    border: none;
    height: 1px;
    background-color: RGB(46, 47, 47);
    margin: 5px 0;
  }

  .temario {
    cursor: default;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 1px;
    margin-left: 1px;
    text-decoration-skip-ink: none;
  }

  p {
    position: relative;
    display: inline-block; /* Para que el borde inferior se ajuste al contenido */
  }

  p::after {
      content: '';
      position: absolute;
      left: 26px;
      bottom: -2px;
      width: calc(100% - 26px);
      height: 1px;
      background-color: RGB(46, 47, 47);
  }
}

#Contenido{
  margin-top: -25px;
  float: right;
  width: calc(70% - 60px);
  padding: 30px;

  .article{
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 1px;
  }
  
  hr {
    width: 730px;
    border: none;
    height: 1px;
    background-color: RGB(46, 47, 47);
    margin: 5px 0;
  }
}

footer {
  text-align: center;
  height: 35px;
  line-height: 35px;

  p{
    cursor: default;
    font-size: 22px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: RGB(32, 32, 32);
}

::-webkit-scrollbar-track {
  background-color: RGB(32, 32, 32);
}

::-webkit-scrollbar-thumb {
  background-color: RGB(71, 76, 80);
}

::-webkit-scrollbar-button {
  display: none;
}
  
body {
  background: #181919;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}

h1 {
  cursor: default;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 52px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
  color: RGB(212, 212, 213);
}

h2 {
  cursor: default;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
  color: RGB(212, 212, 213);
}

h3 {
  cursor: default;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
  color: RGB(212, 212, 213);
}

h4 {
  cursor: default;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
  color: RGB(212, 212, 213);
}

h5 {
  cursor: default;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
  color: RGB(212, 212, 213);
}

h6 {
  cursor: default;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1;
  color: RGB(212, 212, 213);
}

p {
  cursor: default;
  color: RGB(212, 212, 213);
  font-size: 14px;
  line-height: 150%;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}